*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: #f6f6f6;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.girl , .boy{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    flex-direction: column;
}

.box{
    position: relative;
    width: 300px;
    height: 300px;
    border: 10px solid #424b54;
    border-radius: 50%;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.box .hair{
    position: absolute;
    width: 150px;
    height: 110%;
    background: #424b54;
    border-radius: 100px 100px 0 0;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
}

.box .head{
    position: absolute;
    width: 100px;
    height: 100px;
    background: #f0beaf;
    border-radius: 20px 20px 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.box .head .eyes{
    position: relative;
    width: 100%;
    height: 10px;
    display: flex;
    margin-top: 15px;
}

.box .head .eyes .eye{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #424b54;
}

.box .head .eyes .eye.one{
    margin-left: 20px;
}

.box .head .eyes .eye.two{
    margin-left: 40px;
}

.box .head .eyes .eye::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -50%;
    border-top: 2px solid #424b54;
    border-radius: 6px;
}

.box .head .eyes .eye::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: #fff;
    top: 40%;
    left: 10%;
    border-radius: 50px;
}

.box .head .nose{
    width: 10px;
    height: 20px;
    background: #db9b99;
    border-radius: 50px;
}

.box .head .mouth{
    position: relative;
    width: 40px;
    height: 20px;
    background: #424b54;
    border-radius: 0 0 50px 50px;
    margin-top: 5px;
    overflow: hidden;
}

.box .head .mouth::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: indianred;
    top: 5px;
    left: 10px;
    border-radius: 50px;
}

.box .neck{
    position: absolute;
    width: 20px;
    height: 30px;
    background: #f0beaf;
    z-index: 20;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 0 0 10px 10px;
}

.box .body{
    position: absolute;
    width: 150px;
    height: 100px;
    background: skyblue;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px 100px 0 0;
}

h1{
    font-size: 3rem;
    color: #424b54;
}

.girl .box .fringe{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #424b54;
    border-radius: 50px;
    top: 60px;
    left: 95px;
    z-index: 10;
    transform: rotate(15deg);
}

.girl .box .fringe::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #424b54;
    border-radius: 50px;
    right: -40px;
    top: -15px;
}

.boy .box .hair{
    position: absolute;
    width: 120px;
    height: 120px;
    background: #424b54;
    border-radius: 100px;
    top: 37%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.boy .box .fringe{
    position: absolute;
    width: 20px;
    height: 30px;
    background: #424b54;
    z-index: 50;
    top: 83px;
    left: 30%;
    border-radius: 50px;
    transform: rotate(25deg);
}

.boy .box .fringe::before{
    content: '';
    position: absolute;
    width: 90px;
    height: 50px;
    background: #424b54;
    transform: rotate(-25deg);
    border-radius: 50% 0;
    top: -57px;
    left: 5px;
}

.boy .box .ear{
    position: absolute;
    width: 15px;
    height: 25px;
    background: #f0beaf;
    z-index: -1;
    top: 42%;
    left: 17%;
    margin: 0 30px;
    border-radius: 7px 10px 3px 15px;
}

.boy .box .ear::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 110px;
    background: #f0beaf;
    border-radius: 10px 7px 15px 3px;
}


.boy .box .body{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}












